%style
  :sass
    .inspected
      :outline 2px red dashed
    body.inspected
      :outline none
    .masked *
      .queried *, .queried
      :outline 2px blue dashed
      :position relative
      :z-index 1000
