%style
  :sass
    body
      :overflow hidden
      
    #viewport
      ol
        :list-style none
      #tree 
        :z-index 100000000000000
        :margin
          :top 0px
        :padding
          :left 0px
        :height 100%
        :width 20%
        :position absolute
        :overflow auto
        :top 0px
        :left 0px
      iframe
        :border 1px outset
        :position absolute
        :left 20%
        :width 80%
        :height 100%
       
